//Colors
$white: #fff;
$bg-light: #fafafa;
$color-p: #310a90;
$color-s: #42e2b8;
$gradient: linear-gradient(#fad7a1, #e96d71);
$bg-gradient: linear-gradient(to right, #72edf2, #5151e5);
$gradient-circle: radial-gradient(#747de9 0%, #ffffff00 100%);

// Fonts
$font: "Poppins", sans-serif;
$bold: 700;
$sizes: (
	fs1: 6rem,
	fs2: 3.75rem,
	fs3: 3rem,
	fs4: 2rem,
	fs5: 1.5rem,
	fs6: 1.25rem,
	fs7: 1.112rem,
	fs8: 0.875rem,
	fs9: 0.75rem,
);
